<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/page/font-awesome.min.css">
<link rel="stylesheet" href="../css/page/w3.css"> 
<link rel="stylesheet" href="../css/page/style-kn-project-view.css">
<link rel="stylesheet" href="../css/page/style-theme.css">
<link rel="stylesheet" href="../css/page/project.css">
<link rel="stylesheet" href="../css/page/default.css">
<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../css/toastr/toastr.css">
<link rel="stylesheet" href="../css/bootstrap-editable.css">
<link href="../plugins/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet" />
<link href="../plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<link  href="../ueditor/themes/default/css/ueditor.css" rel="stylesheet" />
<link rel="shortcut icon" href="../img/snowlink.ico"/>
<style type="text/css">
#DocTable img{
	width:300px;
	height:200px; 
}
#PreviewContent img{
	/* width:300px;
	height:200px; */
}
</style>
</head>
<body>

<div id="full-height-container" class="project-container color-theme-white">
<!--header start--> 

</div>

<!--header end-->
<div id="m-splitter">
<input type="hidden" id="levelHidden">

<!-- 添加文档标题 -->
 <div class="modal fade in" id="DocInsert" role="dialog" aria-hidden="true" style="z-index: 1100;">
		<div class="modal-dialog" style="width: 350px; margin-top: 20px">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" aria-hidden="true" onclick="closeDoc()">&times;</button>
					<h4 class="modal-title" id="point-title">添加文档</h4>
				</div>
				<div class="modal-body">
					<div style="margin-left: 25px;">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<div  class="input-group" style="width: 300px">
									<span class="input-group-addon" style="color: black;">文档名称</span> <input id="DocNameInsert" type="text"
										class="form-control" placeholder="请输入文档名称">
								</div>
							</div>
						</form>
						<div class="modal-footer" style="text-align: center;">
							<button class="btn btn-primary" type="button" onclick="insertDoc()">确认</button>
							<button class="btn btn-default" type="button" onclick="closeDoc()">取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
<!-- 修改和删除文档 -->
	 <div class="modal fade in" id="operateDoc" role="dialog" aria-hidden="true" style=" z-index: 1100;">
		<div class="modal-dialog" style=" width: 350px; margin-top: 20px">
			<div class="modal-content" >
				<div class="modal-header">
					<button class="close" type="button" aria-hidden="true" onclick="closeoperateDoc()">&times;</button>
					<h4 class="modal-title" id="point-title">修改文档</h4>
				</div>
				<div class="modal-body">
				<div style="margin-left: 25px;">
				<input type="hidden" id="pageDocNum" value="1">
				<input type="hidden" id="pageCount" >
				<input type="hidden" id="pageDocSize" value="5">
					<table  class="ui nine column table celled table-result" id="table-result"> 				  
			             <thead>  
			          	 <tr>  
			                <th>文档</th>  
			                <th>操作</th>
			            </tr>  
			            </thead>  
				          <tbody id="tbody-result">  
				           </tbody>  
			        </table>  
			     
			        <div class="modal-footer" style="text-align: center;">
						<button class="btn btn-primary" type="button" onclick="closeoperateDoc()">
							确认
						</button>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div> 

<!-- 修改文档内容-->
 	<div class="modal fade in" id="AlertDocContent" role="dialog" aria-hidden="true" style="z-index: 1100;">
		<div class="modal-dialog" style="width: 700px; height:750px; margin-top: 10px;margin-left: 200px;">
			<div class="modal-content" >
				<div class="modal-header">
					<button class="close" type="button" aria-hidden="true" onclick="closeDocContent()">&times;</button>
					<h4 class="modal-title" id="point-title">修改内容</h4>
				</div>
				<div class="modal-body">
					<div style="margin-left: 50px;">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<div class="input-group" style="width: 600px">
									<span class="input-group-addon" style="color: black;">标题No.</span> <input id="TitleNoAlert" type="text"
										class="form-control" placeholder="请输入标题No.">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group" style="width: 600px">
									<span class="input-group-addon" style="color: black;">标题</span> <input id="TitleAlert" type="text"
										class="form-control" placeholder="请输入标题">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group" style="width: 600px">
									<span class="input-group-addon" style="color: black;">类型</span> 
									<select class="form-control" name="TitleTypeAlert" id="TitleTypeAlert" >
									  <option value="0">文章标题</option>
									  <option value="1">一号标题</option>
									  <option value="2" selected = "selected">二号标题</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group" style="width: 600px">
									<span class="input-group-addon" style="color: black;">内容</span> 
									 <script type="text/plain" id="editor" >
										
									 </script>
								</div>
							</div>
							
							<div class="form-group">
								<div class="input-group" style="width: 600px">
									<span class="input-group-addon" style="color: black;">排序</span> <input id="OrderAlert" type="text"
										class="form-control" placeholder="请输入order">
								</div>
							</div>
							<input type="hidden" id="IdAlert">
							<input type="hidden" id="doc_idAlert">
							<input type="hidden" id="doc_NameHidden">
							<input type="hidden" id="doccontent">
							
						</form>
						<div class="modal-footer" style="text-align: center;">
							<button class="btn btn-primary" type="button" onclick="alertContent()">确认</button>
							<button class="btn btn-default" type="button" onclick="closeDocContent()">取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 增加文档内容 -->
<div class="modal fade in" id="AddDocContent" role="dialog" aria-hidden="true" style="z-index: 1100;">
		<div class="modal-dialog" style="width: 700px;height:750px; margin-top: 10px;margin-left: 200px;">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" aria-hidden="true" onclick="closeAddDocContent()">&times;</button>
					<h4 class="modal-title" id="point-title">添加内容</h4>
				</div>
				<div class="modal-body">
					<div style="margin-left: 50px;">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<div class="input-group" style="width: 600px">
									<span class="input-group-addon" style="color: black;">标题No.</span> <input id="TitleNoAdd" type="text"
										class="form-control" placeholder="请输入标题No.">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group" style="width: 600px">
									<span class="input-group-addon" style="color: black;">标题</span> <input id="TitleAdd" type="text"
										class="form-control" placeholder="请输入标题">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group" style="width:600px">
									<span class="input-group-addon" style="color: black;">类型</span>
									<!--  <input id="TitleTypeAdd" type="text" class="form-control" placeholder="请输入标题类型"> -->
									<select class="form-control" name="TitleTypeAdd" id="TitleTypeAdd" >
									  <option value="0">文章标题</option>
									  <option value="1">一号标题</option>
									  <option value="2">二号标题</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group" style="width: 600px">
									<span class="input-group-addon" style="color: black;">内容</span> 
									<!-- <textarea style="resize: vertical" id="ContentAdd" class="form-control" rows="1" placeholder="请输入内容"></textarea> -->
									 <script type="text/plain" id="editor1" >
										
									 </script>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group" style="width:600px">
									<span class="input-group-addon" style="color: black;">排序</span> <input id="OrderAdd" type="text"
										class="form-control" placeholder="请输入order">
								</div>
							</div>
						</form>
						<div class="modal-footer" style="text-align: center;">
							<button class="btn btn-primary" type="button" onclick="AdminAddContent()">确认</button>
							<button class="btn btn-default" type="button" onclick="closeAddDocContent()">取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 预览 -->
<div class="modal fade" id="PreviewDoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">预览</h4>
            </div>
            <div class="modal-body">
            	<div id="PreviewDocBody">
            		<input type="hidden" id="BasicDocId">
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closePreviewDoc()">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- main  -->
<div id="pro-mian" style="margin-right: 40px;width: 86%">

<div id="PreviewContent" >
	
</div>

<!--  -->
	<div class="" style="" >
	<div id="pro-mian-header" style="margin-left: 0px;margin-top: -20px;padding-top: 40px;padding-bottom: 60px;">
 	<!--  <nav style="postion:absolute;top:60px;">  -->
			 <div id="toolbar" style="display: none;" class="btn-group">
		        <button id="btn_add"  onclick="AddDocContent()" type="button" class="btn btn-default">
		            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
		        </button>
		        <button id="btn_edit" onclick="Preview()" type="button" class="btn btn-default">
		            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>预览
		            <font style="text-align: center;"></font>
		        </button>
   			 </div>
				<table id="DocTable">
				</table>
				
		<!-- </nav>    -->

	</div>
	</div>
</div>
</div>

</body>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/js/bootstrap-table.min.js"></script>
<script type="text/javascript" src="../js/bootstrap-editable.js"></script>
<script type="text/javascript" src="../js/project.leftbox.js"></script>
<script type="text/javascript" src="../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="../plugins/sweetalert/sweetalert-dev.js"></script>
<script type="text/javascript" src="../ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="../ueditor/ueditor.all.js"> </script>
<script type="text/javascript" src="../ueditor/ueditor.parse.js"> </script>
<script type="text/javascript"  src="../ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="../js/toastr.min.js"></script>
<script src="../js/Basic_doc.js"></script>
<script src="../js/jquery.goup.js"></script>
<script type="text/javascript">


	/* var ue = UE.getEditor('editor'); */

	
	
$(function () {
	$.goup({

        trigger: 100,

        bottomOffset: 150,

        locationOffset: 100,

        title: 'This is a Demo',

        titleAsText: true

    });
	
	toastr.options = {  
	        closeButton: true,  //是否显示关闭按钮（提示框右上角关闭按钮）
	        debug: false,  //是否为调试；
	        progressBar: false,  //是否显示进度条（设置关闭的超时时间进度条）
	        positionClass: "toast-top-center",  //消息框在页面显示的位置
	        onclick: null,  //点击消息框自定义事件
	        showDuration: "300",  //显示动作时间
	        hideDuration: "1000",  //隐藏动作时间
	        timeOut: "1000",  //自动关闭超时时间
	        extendedTimeOut: "1000",  
	        showEasing: "swing",  
	        hideEasing: "linear",  
	        showMethod: "fadeIn",  //显示的方式
	        hideMethod: "fadeOut"  //隐藏的方式
	};
})



</script>
</html>